<h1><%= t 'models.edit' %></h1>

<%= error_messages_for :model, :header_message => I18n.t('models.edit_failed') %>
<% form_for @model, :html => {:id => "model"} do |f| -%>
<p><%= label_tag 'title', I18n.t('title') %><br />
<%= f.text_field :title %></p>

<p><%= label_tag 'price', I18n.t('models.price') %><br />
<%= f.text_field 'price' %></p>

<p><%= label_tag 'expiration', I18n.t('models.expiration') %><br />
<%= f.text_field 'expiration' %><br />
<%= check_box_tag(:never) %>
  <%= label_tag :never, I18n.t('models.never_expires') %></p>

<p><%= label_tag 'time', I18n.t('models.time') %><br />
<%= f.text_field 'time' %><br />
<%= check_box_tag(:unlimited) %>
  <%= label_tag :unlimited, I18n.t('models.unlimited') %></p>
  
<p><%= label_tag 'renew', I18n.t('models.renew') %><br />
<%= f.text_field 'renew' %><br />
<%= check_box_tag(:no_renew) %>
  <%= label_tag :no_renew, I18n.t('models.no_renew') %></p>

<p><%= submit_tag t 'edit' %></p>
<% end -%>
