<h1><%= t 'employees.edit_profile_header' %></h1>
<% @employee.password = @employee.password_confirmation = nil %>

<%= error_messages_for :employee, :header_message => I18n.t('employees.edit_profile_failed') %>
<% form_for :employee, @employee, :url => { :action => "update_profile" } do |f| -%>

<p><%= label_tag 'name', I18n.t('name') %><br />
<%= f.text_field :name %></p>

<p><%= label_tag 'password', I18n.t('password') %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', I18n.t('password_confirmation') %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag t 'employees.edit_profile' %></p>
<% end -%>
