<h1><%= t 'groups.edit' %></h1>

<%= error_messages_for :group, :header_message => I18n.t('groups.edit_failed') %>
<% form_for :group, @group, :url => { :action => "update" }, :html => { :method => :put } do |f| -%>
<p><%= label_tag 'name', I18n.t('groups.name') %><br/>
<%= f.text_field :name, {:disabled => true} %></p>

<p><%= label_tag 'description', I18n.t('description') %><br />
<%= text_field_tag :description, @group.ldap_entry.description %></p>

<p><%= label_tag 'price', I18n.t('groups.price') %><br />
<%= f.text_field :price %></p>

<p><%= label_tag 'storage', I18n.t('groups.storage') %><br/>
<%= f.text_field :storage %></p>

<% 
checked = false
if @group.model
	checked = true
end %>
<p><%= check_box_tag(:model_active, "1", checked) %>
<%= label_tag :model_active, I18n.t('groups.model_active') %></p>

<p><%= label_tag 'model', I18n.t('groups.model') %><br />
<%= collection_select (:group, :model_id, @models, :id, :title) %></p>

<p><%= submit_tag t 'edit' %></p>
<% end -%>