<h1><%= t 'users.edit_profile' %></h1>

<%= error_messages_for :user, :header_message => I18n.t('users.edit_failed') %>
<% form_for :user, @user.ldap_entry, :url => { :action => "update_profile" }, :html => { :method => :post } do |f| -%>
<p><%= label_tag 'uid', I18n.t('username') %><br/>
<%= f.text_field :uid, {:disabled => true} %></p>

<p><%= label_tag 'givenName', I18n.t('firstname') %><br />
<%= f.text_field :givenName %></p>

<p><%= label_tag 'sn', I18n.t('lastname') %><br />
<%= f.text_field :sn %></p>

<p><%= label_tag 'userPassword', I18n.t('password') %><br/>
<%= f.text_field :userPassword, :value => '' %></p>

<p><%= label_tag 'mail', I18n.t('email') %><br />
<%= f.text_field :mail %></p>

<p><%= label_tag 'homePhone', I18n.t('phone') %><br />
<%= f.text_field :homePhone %></p>

<p><%= submit_tag t 'edit' %></p>
<% end -%>
