<h1><%= t 'users.add_new' %></h1>

<%= error_messages_for :user, :header_message => I18n.t('users.add_failed') %>
<% form_for :user, :url => users_path do |f| -%>
<p><%= label_tag 'uid', I18n.t('username') %><br/>
<%= f.text_field :uid %></p>

<p><%= label_tag 'givenName', I18n.t('firstname') %><br />
<%= f.text_field :givenName %></p>

<p><%= label_tag 'sn', I18n.t('lastname') %><br />
<%= f.text_field :sn %></p>

<p><%= label_tag 'userPassword', I18n.t('password') %><br/>
<%= f.text_field :userPassword %></p>

<p><%= label_tag 'mail', I18n.t('email') %><br />
<%= f.text_field :mail %></p>

<p><%= label_tag 'homePhone', I18n.t('phone') %><br />
<%= f.text_field :homePhone %></p>

<p><%= label_tag 'group', I18n.t('group') %><br />
<%= select_tag 'group', options_from_collection_for_select(@groups, :cn, :cn) %></p> 

<p><%= submit_tag t 'add' %></p>
<% end -%>

