<h1><%= t 'customers.customers'%></h1>
<p>
  <% form_tag({ :controller => 'customers', :action => 'index' }, {:method => 'get'}) do %>
    <%= text_field_tag :q %>
    <%= submit_tag t 'search' %>
  <% end %>
</p>
<table id="customers">
	<tr>
                <th><%= t 'username' %></th>
		<th><%= t 'name' %></th>
		<th><%= t 'email' %></th>
		<th class="nobg"></th>
	</tr>
	<% @customers.each do |customer| %>
	<tr>
		<td><%= customer.uid %></td>
		<td><%= customer.cn %></td>
		<td><%= customer.mail %></td>
		<td><%= link_to I18n.t('show'), customer_path(customer) %></td>
	</tr>
	<% end %>
</table>
<br />
<div style="text-align: right;">
	<%= link_to I18n.t('customers.add_new'), :controller => "customers", :action => "new" %>
</div>
<% # will_paginate @customers, :previous_label => I18n.t('previous'), :next_label => I18n.t('next') %>
