<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>ECafe Server</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <%= stylesheet_link_tag "style" %>
        <%= javascript_include_tag "prototype", "application" %>
</head>

<body>
<div id="header">
	<h1>ECafe</h1>
</div>

<div id="topbar">
	<%= current_user.login %> | 
	<%= link_to t('my_profile'), {:controller => "users", :action => "edit_profile"} %> | 
	<%= link_to t('logout'), logout_path %>
</div>
<div class="tabs">
	<ul id="minitabs">
		<li><%= link_to t('index'), {:controller => "pages", :action => "index"} %></li>
		<li><%= link_to t('timecodes.timecodes'), {:controller => "timecodes", :action => "index"} %></li>
                <li><%= link_to t('customers.customers'), {:controller => "customers", :action => "index"} %></li>
                <li><%= link_to t('models.models'), {:controller => "models", :action => "index"} %></li>
                <li><%= link_to t('statistics'), {:controller => "statistics", :action => "index"}  %></li>
		<% if is_admin? %>
			<li><%= link_to t('employees.employees'), {:controller => "users", :action => "index"} %></li>
			<li><%= link_to t('config'), {:controller => "configurations", :action => "new"} %></li>
		<% end %>
	</ul>
</div>

<div id="content">
	<%= flash_helper %>
	<%= yield %>
</div>
</body>
</html>
