<h1><%= t 'timecodes.timecodes'%></h1>
<p>
  <% form_tag({ :controller => 'timecodes', :action => 'index' }, {:method => 'get'}) do %>
    <%= text_field_tag :q %>
    <%= submit_tag t 'search' %>
  <% end %>
</p>
<table id="timecodes">
	<tr>
		<th><%= t 'timecode' %></th>
		<th><%= t 'time_left' %></th>
		<th><%= t 'timecodes.expiration_date' %></th>
		<th class="nobg"></th>
	</tr>
	<% @timecodes.each do |timecode| %>
	<tr>
		<td><%= timecode.code %></td>
		<td><% if timecode.unlimited %>
		<%= t 'unlimited' %>
		<% else %>
		<%= timecode.time %>
		<% end %></td>
		<td><% if timecode.expires %>
		<%= I18n.l(timecode.expiration, :format => :default) %>
		<% else %>
		<%= t 'never' %>
		<% end %></td>
		<td><% if timecode.created_at == timecode.updated_at || is_admin? %>
			<% form_tag timecode_path(timecode), :method => :delete do %>
			<%= submit_tag t 'delete' %>
			<% end %>
			<% end %></td>
	</tr>
	<% end %>
</table>
<br />
<div style="text-align: right;">
	<%= link_to I18n.t('timecodes.add_new'), :controller => "timecodes", :action => "new" %>
</div>
<%= will_paginate @timecodes, :previous_label => I18n.t('previous'), :next_label => I18n.t('next') %>
